body {
    margin: 10px;
}

#boto {
    margin-left: 15px;
}

.resultats h4 {
    padding-top: 5px;
    font-size: 19px;
}

/* The sidepanel menu */
.sidepanel {
    height: 100%;
    /* Specify a height */
    width: 0;
    /* 0 width - change this with JavaScript */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Stay on top */
    top: 0;
    right: 0;
    background-color: #cd0000;
    /* Black*/
    overflow-x: hidden;
    /* Disable horizontal scroll */
    padding-top: 60px;
    /* Place content 60px from the top */
    transition: 0.5s;
    /* 0.5 second transition effect to slide in the sidepanel */
    float: right;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    margin-top: 10px;
}

.imatgePanel {
    width: 300px;
    height: 460px;
    margin-left: 60px;
}

.divPanel {
    display: flex;
}

.divPanel h4 {
    font-size: 40px;
    color: white;
    padding-left: 20px;
}

/*navvar*/
nav {
    height: 80px;
    display: flex;
    align-items: center;
    background-color: red;
  }
  
  nav div {
    display: flex;
    align-items: center;
    margin-left: 10px;
    font-family: 'Anton';
    color: white;
    font-size: 70px;
  }